:root
{
	--aside-width: 350px;
}

.waiting
{
	display: none;
}

.waiting.visible
{
	display: unset;
}

body
{
	font-family: 'Open Sans', sans-serif;

	margin: 0%;
	padding: 0%;

	display: flex;
}

aside
{
	background-color: #00bfff;
	width: var(--aside-width);
	height: 100vh;
	padding: 48px;
	box-sizing: border-box;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

#white-logo
{
	width: 100%;
}

@media (max-width: 1300px)
{
	:root
	{
		--aside-width: 300px;
	}
}

#stats
{
	color: white;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

#stats li
{
	font-size: 24px;
}

main
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: calc(100vw - var(--aside-width));
	height: 100vh;
	overflow: auto;
	box-sizing: border-box;
	padding: 40px 0;
}

@media (max-height: 600px)
{
	main
	{
		justify-content: unset;
	}
}

.title
{
	text-align: center;
}

.title h1
{
	font-size: 112px;
	margin: 0;
	font-weight: 700;
}

@media (max-width: 1100px)
{
	.title h1
	{
		font-size: 80px;
	}
}

@media (max-width: 600px)
{
	.title h1
	{
		font-size: 60px;
	}
}

.title .blue
{
	color: #00bfff;
}

.title .thin
{
	font-weight: 400;
}

.interactive
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#username
{
	text-align: center;
	margin: 1em 0;
	padding: .5em;

	font-size: 48px;
	border: 6px solid #00bfff;
	color: #00bfff;
	border-radius: 20px;
	outline: none;
}

@media (max-width: 1100px)
{
	#username
	{
		font-size: 36px;
	}
}

@media (max-width: 600px)
{
	#username
	{
		font-size: 20px;
	}
}

#start
{
	position: relative;

	text-align: center;
	width: 250px;
	font-size: 40px;
	background-color: transparent;
	border-style: none;

	cursor: pointer;

	animation-timing-function: linear;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-name: tease;

	z-index: 2;
}

@media (max-width: 600px)
{
	#start
	{
		font-size: 32px;
	}
}

#start:hover
{
	font-style: italic;
	animation-name: none;
}

#start::before,
#start::after
{
	content: "";
	position: absolute;
	left: 0;
	width: 100%;
	height: 6px;
	background-color: #00bfff;
	transition: clip-path 200ms ease-out;
}

#start::before
{
	top: -10px;
	clip-path: inset(0 100% 0 0);
}

#start::after
{
	bottom: -10px;
	clip-path: inset(0 0 0 100%);
}

#start:hover::before
{
	clip-path: inset(0 0 0 0);
}

#start:hover::after
{
	clip-path: inset(0 0 0 0);
}

#start:active
{
	animation-name: none;
	color: #00bfff;
	font-weight: 700;
}


@keyframes tease
{
	2%
	{
		transform: translate(2px, 0);
	}

	4%
	{
		transform: translate(6px, 0);
	}

	8%
	{
		transform: translate(0, 0);
	}

	10%
	{
		transform: translate(-4px, 0);
	}

	12%
	{
		transform: translate(-8px, 0);
	}

	14%
	{
		transform: translate(0px, 0);
	}

	100%
	{
		transform: translate(0px, 0);
	}
}

#past-games
{
	margin: 1em 0;
	color: #00bfff;
	font-style: italic;
}

#logo
{
	width: 600px;
}

.credit
{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	font-size: 2em;
	text-align: center;
}

@media (max-width: 1400px)
{
	#logo
	{
		width: 500px;
	}

	.credit
	{
		font-size: 1.75em;
	}
}

@media (max-width: 1100px)
{
	#logo
	{
		width: 350px;
	}

	.credit
	{
		font-size: 1.25em;
	}
}

.creators
{
	list-style: none;
	margin: 0;
	padding: 0;
}

.creators li::before
{
	content: "\265E";
}

@media (max-width: 900px)
{
	aside
	{
		width: 0;
		padding: 0;
	}

	main
	{
		justify-content: flex-start;
		width: 100vw;
		height: 100vh;
		padding: 120px 0;
	}

	#stats
	{
		position: absolute;
		top: 0;
		left: 0;

		width: 100vw;
		padding: 18px 0;

		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		background-color: #00bfff;
	}

	#stats li
	{
		font-size: 16px;
		margin: 1em;
	}

	.side-logo
	{
		position: absolute;
		bottom: 0;
		left: 0;

		width: 100vw;
		padding: 24px 0;

		display: flex;
		justify-content: center;

		background-color: #00bfff;
	}

	#white-logo
	{
		width: 100px;
	}


}

@media (max-width: 600px)
{
	#logo
	{
		width: 250px;
	}

	.credit
	{
		margin-top: 20px;
	}
}

@media (max-width: 500px)
{
	#stats li
	{
		margin: .5em;
	}
}